.div-ten-phim {
    color: #000;
    /* height: 45px; */
    /* display: -webkit-box; */
    margin-bottom: 7px;
    overflow: hidden;
    font-size: 18px;
    max-height: 45px;
    visibility: visible;
    font-weight: 500;
    line-height: 22px;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* 
/* .span-c18 {
    color: #fff;
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
    min-width: 33px;
    background: #fb4226;
    text-align: center;
    margin-right: 8px;
    border-radius: 4px;
} */
*/ .text-detail-phim-h4 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    color: #757575;
    margin-bottom: 7px;
}

.checked {
    color: #ffb400;
}